<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>



    <link rel="stylesheet" href="~/css/layout.css">
    <!--<link rel="stylesheet" href="~/css/css.css" />-->

</head>

<body>
    <div id="container">
        <div id="header">
            <div id="header-accounts">
                header accounts
            </div>

            <div id="header-content">
                <div id="contacting">
                    <div id="cell-number" class="cotact-number">
                        <p>09118733895</p>
                    </div>
                    <div class="cotact-number">
                        <p>01735452873</p>
                    </div>
                </div>
                <div id="navigation">
                    <ul>
                        <li><a href="#">خانه</a></li>
                        <li><a href="#">جستجو</a></li>
                        <li><a href="#">اخبار</a></li>
                        <li><a href="#">تماس باما</a></li>
                    </ul>
                </div>

                <div id="logo">
                    <img src="../images/logo.png" />
                </div>
            </div>
        </div>

        <div style="clear:both"></div>
        @RenderBody()


    </div>

    <environment names="Development">

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/angular/angular.js" asp-append-version="true"></script>

        <script src="~/js/submit.js"></script>
    </environment>
    <environment names="Staging,Production">

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <!--<script src="~/js/site.min.js" asp-append-version="true"></script>-->
        <script src="~/lib/angular/angular.js" asp-append-version="true"></script>

        <script src="~/js/submit.js"></script>
        <script src="~/js/main.js"></script>

    </environment>

<div style="clear:both"></div>
    <div id="footer">
        footer
    </div>
</body>

</html>