@{ Layout="_Layout"; }

<div id="state-detail-page" ng-app="RJProject" ng-controller="main">
	<div id="content">
		<div id="detail-head">
			<div id="detail-head-right">
				<h1>عنوان ملک</h1>
				<div>
					<div class="text-block">
						<label>آدرس:</label>
						<p></p>
					</div>
				</div>
			</div>
			<div id="detail-head-left">
				<div class="text-block">
					<label>قیمت کل:</label>

				</div>
				<div class="text-block">
					<label>قیمت هرمتر:</label>

				</div>
			</div>
		</div>
		<div style="clear:both"></div>
		<div id="detail-images">
			<h5> اضاقه شده در ۹۵/۹/۱۶</h5>
			<div style="clear:both"></div>
			<div id="detail-slider-container">
				<div id="detail-slider">
					<img src="~/images/sliderbk.png" />
				</div>

				<div id="detail-slider-images">
					<img src="~/images/sliderbk.png" />
				</div>
			</div>
		</div>

		<div style="clear:both"></div>
		<div id="detail-footer">
			<div id="detail-details">
				<div class="details-head">
					<h4>جزیی‍‍‍ات</h4>
				</div>

				<ul>
					<li>
						<label>زمین:</label>
						<span>عرصه</span>
					</li>
					<li>
						<label>نوع کفپوش:</label>
						<span>سرامیک</span>
					</li>
					<li>
						<label>سال ساخت:</label>
						<span>۱۳۹۴</span>
					</li>
					<li>
						<label>طبقه :</label>
						<span>۲</span>
					</li>
					<li>
						<label>تعداد کل طبقات:</label>
						<span>۱۰</span>
					</li>
					<li>
						<label>تعداد کل واحدها:</label>
						<span>۴۰</span>
					</li>
					<li>
						<label>نما:</label>
						<span>سنگ</span>
					</li>
				</ul>
			</div>

			<div id="detail-descryption">
				<div class="details-head">
					<h4>توضیحات</h4>
				</div>
				<div>
					<textarea></textarea>
				</div>




				<div style="clear:both"></div>
				<div id="detail-facialities">
					<div class="details-head">
						<h4>امکانات</h4>
					</div>
					<div>
						<ul>
							<li>آب</li>
							<li>برق</li>
							<li>گاز</li>
							<li>انباری</li>
						</ul>
					</div>

				</div>
			</div>
		</div>

	</div>




	<!--content-->
</div>