

<link rel="stylesheet" href="~/css/css.css">
<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
<script src="~/lib/angular/angular.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/app.js"></script>
<script src="~/js/search.js"></script>



<div id="container" ng-app="RJProject" ng-controller="SearchCtrl">

		<header>
		</header>
		<div id="header">
				<input ng-click='redirectSubmit()' class="btn" type="button" value="ثبت ملک" />
		</div>
		<content>
			<div id="content">
				<div id="state-type-selection">
					<h3>انتخاب کنید:</h3>
					<div id="state-type">
						<div class="state-type" ng-repeat="state in stateTypes">
							{{state.Name}}
						</div>
					</div>
				</div>


				<div id="search">

					<div id="search-fields" ng-repeat='fld in searchFields'>
						<div class="search-field" ng-click="selectSearchField(fld)">
							<div class="search-field-caption">{{fld.Name}}</div>
							<div class="float-none search-field-value" ng-show="fld && fld.SelectedValue">
								{{fld.SelectedValue.Name}}
							</div>
						</div>
					</div>
					<div style="clear: both;"></div>

					<div id="search-field-values">
						<div class="search-field-value" ng-repeat="val in searchFieldsValues" ng-if="val.FieldID == selectedSearchField.ID" ng-click="selectValue(val)">
							{{val.Name}}
						</div>

					</div>
					<div id="search-btn">
						<input class="btn" type="button" value="جستجو" />
					</div>
				</div>



				<div style="clear:both"></div>
				<div id="ads">
					<div class="center">
						
						<div class="ad" ng-repeat="st in states">
							<div class="ad-header">header</div>
							<div class="ad-content">
								<img src="{{st.baseImage}}">
								<span>{{st.rent}} هزارتومان</span>
								<span>{{st.mortgage}} میلیون</span>
								<span> {{st.area}} متر</span>
								<input ng-click="getImages(st)" type="button" value="next">		
							</div>
						</div>
					</div>

				</div>

			</div>
		</content>


		<footer>
			<div id="footer">
			</div>
		</footer>

	</div>