@{ Layout="_Layout"; }

<div id="main-page" ng-app="RJProject" ng-controller="main">
	<div id="content">
		<div id="main-bak">
			<div id="search-form">
				search-form

			</div>
		</div>

		<div id="info">info</div>

		<div id="states">
			<div class="state-container" ng-repeat="m in n">
				<div class="state-inline">
					<div class="state">
						<div class="state-header">عنوان</div>
						<div class="state-content">

							<div class="state-main">
								<div class="state-price">قیمت</div>
								<div class="state-descryption">توضیحات</div>
							</div>

							<div class="state-image">
								<img src="~/images/state-image.jpg" />
							</div>
						</div>
						<div style="clear:both"></div>
						<div class="state-footer">
							<ul>
								<li>پارکینگ</li>
								<li>حمام</li>
								<li>خواب</li>
								<li>زیربنا</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!--content-->
	</div>